.main {
  min-height: 100vh;  
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  padding : calc(50vh - 2rem) 0; 
  width: 100%;
  text-align: center;
  font-size: 2rem;
}


/* .footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #222;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

}