.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 25rem;
    text-align: left;
    border-radius: 20px;
    color: #000000;
    background: rgb(190, 241, 239);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin: 2rem;
    gap: 1rem;
}
